dataset/pickscore/test_small.txt
dataset/a.txt
dataset/ddpo.txt
DiffusionDPO
draw
logs
logs-exp
logs-exp-new
model-pretrained
PatchDPO
geneval
ImageReward
PrefPaint
PathDPO
Prefpaint
reward-server
SD1.5_monotonic_multi_score_results
SD3.5_monotonic_multi_score_results
SD3.5_monotonic_multi_score_results_
SDXL_monotonic_multi_score_results
temp
VideoDPO
aes_case.py
cal_aes_single.py
cal_aes_win_rate.py
cal_compress_win_rate.py
cal_compress.py
cal_ocr.py
download_ocr.py
evaluate_case.py
geneval_generate.py
download.py
geneval.sh
mean_reward_per_step.png
mean_rewards_grad_by_step.png
moon.png
nohup.out
run.sh
scripts/accelerate_configs
scripts/multi_node
scripts/evaluate_chazhi.py
DiffusionDPO
scripts/generate2.py
scripts/generate2.py
scripts/visualization2.py
scripts/evaluate.py
scripts/train_sd3.py
reward-server
scripts/visualization.py
flow_grpo/diffusers_patch.zip
flow_grpo/diffusers_patch/sd3_sde_with_logprob_max_reward.py
flow_grpo/diffusers_patch/sd3_sde_with_logprob_reward_scale_batch.py
flow_grpo/diffusers_patch/sd3_sde_with_logprob_reward_sigmoid_rescale.py
flow_grpo/diffusers_patch/sd3_pipeline_with_logprob_dual.py
flow_grpo/diffusers_patch/sd3_pipeline_with_logprob_dual.py
rlg.egg-info
